* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 15px;
}

body {
  font-family: "Open sans", sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  min-height: 100vh;
}

button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(176, 56%, 46%);
  border: none;
  outline: none;
  width: 20rem;
  padding: 1rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: hsl(176, 68%, 53%);
}

input {
  border: none;
  outline: none;
  width: 400px;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  font-size: 1.2rem;
}

input:focus {
  outline: 3px solid hsl(176, 68%, 53%);
}

/* header */

header {
  background-color: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);
  padding: 3rem 0;
  padding-left: 3rem;
  padding-right: 1rem;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-list {
  display: flex;
}

.nav-list .nav-item {
  margin-right: 3rem;
}

.nav-item a {
  color: hsl(0, 0%, 100%);
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.nav-item a:hover {
  opacity: 1;
  text-decoration: underline;
}

/* main */

/* intro */

.intro {
  background-color: hsl(217, 28%, 15%);
  background-image: url(/images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  padding-bottom: 10rem;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 1140px;
  max-width: 90%;
  padding: 2rem 4rem;
  margin: 0 auto;
}

.intro-container div:nth-child(odd) {
  margin: 2.5rem 0;
}

.intro-img {
  width: 70%;
}

.intro-img img {
  width: 100%;
  object-fit: cover;
}

.intro-heading {
  font-size: 2rem;
}

.intro-paragraph {
  width: 60%;
  line-height: 1.5rem;
}

/* features */

.features {
  background-color: #181f2b;
  padding-bottom: 5rem;
}

.features-container {
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.features-container .features-item {
  width: 50%;
  padding: 2rem;
  margin-bottom: 3rem;
}

.features-item .features-heading {
  font-weight: 600;
  margin: 2rem 0 1rem;
}
.features-item .features-paragraph {
  opacity: 0.8;
  font-size: 0.95rem;
}

/* stay productive */

.stay-productive {
  background-color: #181f2b;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stay-productive .productive-img {
  width: 40%;
}

.productive-img img {
  width: 100%;
  object-fit: contain;
}

.stay-productive .productive-content {
  width: 50%;
}

.stay-productive .productive-content h3 {
  margin-bottom: 1.5rem;
  width: 400px;
  max-width: 100%;
  font-size: 2.4rem;
}

.stay-productive .productive-content p {
  margin-bottom: 1rem;
  width: 600px;
  max-width: 100%;
}

.stay-productive .productive-content a {
  color: hsl(176, 56%, 46%);
  display: inline-flex;
  align-items: center;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid hsl(176, 72%, 52%);
  opacity: 0.8;
}

.stay-productive .productive-content a:hover {
  opacity: 1;
}

.stay-productive .productive-content a img {
  margin-left: 0.5rem;
}

/* reviews */
.reviews {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #181f2b;
}

.reviews-container {
  width: 1200px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.reviews-container .first-review::before {
  content: "";
  background-image: url(/images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 60px;
  height: 35px;
  top: -1rem;
  left: 1rem;
  transform: scale(0.7);
}

.reviews-container .review {
  background-color: hsl(219, 30%, 18%);
  width: 33%;
  padding: 2rem 1.5rem;
  margin: 1rem;
  border-radius: 7px;
}

.review .review-footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.review .review-footer img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
}

.review .review-footer .info h4 {
  font-size: 0.9rem;
}
.review .review-footer .info small {
  font-size: 0.6rem;
  opacity: 0.8;
}

.early-access-form {
  background-color: #181f2b;
  padding: 5rem 0;
}

.access-container {
  width: 800px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 4rem 3rem;
  border-radius: 8px;
  text-align: center;
  background-color: hsl(219, 30%, 18%);
  position: relative;
}

.access-container h3 {
  margin: 1rem 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.access-container p {
  margin-bottom: 2rem;
  opacity: 0.8;
}
.access-container .form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.access-container .form .alert {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.1rem;
  font-style: oblique;
}

.access-container .form .success {
  color: #34c28e;
}
.access-container .form .danger {
  color: #db2413;
}
.access-container .form input::placeholder {
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.8;
}
.access-container .form button {
  padding: 1rem;
  width: 200px;
}

/* footer */
footer {
  padding: 6rem 1rem;
  background-color: hsl(216, 53%, 9%);
}

footer .footer-logo {
  width: 150px;
  margin-bottom: 2rem;
}

.footer-logo img {
  width: 100%;
}

.footer-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.footer-container a {
  color: hsl(0, 0%, 100%);
  opacity: 0.8;
}

.footer-container a:hover {
  text-decoration: underline;
  opacity: 1;
}

.footer-container .location {
  flex: 4;
  display: flex;
  align-items: center;
}

.footer-container .location img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}
.footer-container .footer-contact {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-contact .phone {
  margin-bottom: 2rem;
  text-align: left;
}

.footer-contact img {
  margin-right: 0.8rem;
  text-align: left;
}

.footer-container .footer-links {
  flex: 2;
}
.footer-container .footer-links li {
  margin-bottom: 1rem;
  vertical-align: middle;
}

.footer-container .social-media {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.social-media a {
  margin-right: 0.9rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 100%);
  transition: all 0.3s ease-in-out;
}

.social-media a:hover {
  color: #34c28e;
  border-color: #34c28e;
}

.social-media a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }

  /* header */
  header {
    padding: 1rem 0.5rem;
  }
  .logo {
    transform: scale(0.6);
  }

  .nav-list .nav-item {
    margin-right: 1rem;
  }

  /* intro */
  .intro {
    padding-bottom: 2rem;
  }

  .intro-container {
    max-width: 100%;
  }

  .intro-img {
    width: 100%;
  }

  .intro-heading {
    font-size: 1.3rem;
  }

  .intro-paragraph {
    width: 100%;
  }

  .intro-btn {
    width: 200px;
  }

  /* features */

  .features {
    padding-bottom: 1rem;
  }

  .features-container {
    max-width: 100%;
    flex-direction: column;
  }

  .features-container .features-item {
    width: 100%;
    padding: 1rem;
  }

  /* stay productive */
  .stay-productive {
    padding: 1.5rem;
    flex-direction: column;
  }

  .stay-productive .productive-img {
    width: 90%;
    margin-bottom: 2.5rem;
  }

  .stay-productive .productive-content {
    width: 100%;
  }

  .stay-productive .productive-content h3 {
    width: 100%;
    font-size: 1.4rem;
    margin: 1.5rem 0;
    text-align: left;
  }

  .stay-productive .productive-content p {
    opacity: 0.8;
    line-height: 1.6rem;
    width: 100%;
    font-size: 1.1rem;
  }

  /* reviews */

  .reviews-container {
    flex-direction: column;
  }
  .reviews-container .review {
    width: 90%;
  }

  /* early access */

  .access-container {
    width: 90%;
  }

  .access-container .form {
    flex-direction: column;
  }

  .access-container .form input {
    width: 100%;
    margin-bottom: 2rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    font-weight: 700;
  }

  .access-container .form button {
    width: 60%;
  }

  /* footer */

  footer .footer-logo {
    width: 180px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-container .location {
    text-align: center;
  }

  .footer-container .location img {
    align-self: flex-start;
  }

  .footer-container .footer-contact {
    margin: 3rem;
    justify-content: flex-end;
  }

  .footer-contact .phone {
    margin-bottom: 0.5rem;
  }

  .footer-container .footer-links {
    text-align: center;
  }

  .footer-links:nth-child(odd),
  .footer-links:nth-child(even) {
    margin-bottom: 3rem;
  }

  .footer-container .social-media {
    justify-content: center;
  }
}
